doctype html
html
  head
    meta(charset="UTF-8")
    title index
    script(src="js/ndoo_prep.js")
  body
    #scriptArea.Ldn(data-page-id="home/index")
      script(src="lib/zepto.min.js")
      script(src="js/ndoo.js")
      script(src="js/app.js")
      script.
        ndoo.init()

