extends shared/_layout

block pageTitle
  title index
  include shared/_variable

block pageContent
  p#container

block pageScript
  #scriptArea.Ldn(data-page-id="home/index")
  script(src="#{bowerPath}/jquery/dist/jquery.min.js")
  script(src="#{ndoojsPath}/ndoo_all.js")
  script
    :coffee
      $  = @['jQuery'] || @['Zepto']

      _n = @ndoo

      _n.app 'home',
        indexAction: ->
          $('#container').html 'hello ndoojs!'

      _n.init()
